*{
    margin: 0;
    padding: 0;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 6rem;
}
.input input{
    padding: .75rem .75rem;
    width: 320px;
    border-radius: 1.25rem;
    border: 1px solid black;
}
.input button{
    padding: .75rem 1rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    cursor: pointer;
}