*{
    margin: 0;
    padding: 0;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 6rem;
    padding: 0rem 1rem;
}
.form input{
    padding: 1.5rem 1rem;
    width: 100%;
    max-width: 800px;
    border-radius: .5rem;
    border: none;
}
.input.dark{
    background-color: var(--backgroundDarkLighter);
    color: var(--textColorLight);
}

.input.dark::placeholder{
    color: var(--textColorLight);
}
.form .button{
    padding: 1.125rem 1.5rem;
    color: var(--textColorLight);
    background-color: rgb(165, 143, 115);
    border-radius: .5rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
}
.button.dark{
    background-color: var(--backgroundLight);
    color: var(--textColorDark);
}