.doneElem{
    list-style: none;
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.doneElem .p {
    border-radius: .5rem;
    color: var(--textColorDark);
    padding: 1rem 1rem;
    width: 100%;
    max-width: 600px;
    word-wrap: break-word;
    text-decoration: line-through;
    background-color: var(--backgroundLightLighter);
}
.p.dark {
    background-color: var(--backgroundDarkLighter);
    color: var(--textColorLight);
}