*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todoElem{
    list-style: none;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.todoElem .p{
    
    width: 100%;
    max-width: calc(100% - 4rem);
    border-radius: .5rem;
    background-color: var(--backgroundLightLighter);
    color: var(--textColorDark);
    padding: 1rem 1rem;
    word-wrap: break-word;
}
.p.dark{
    background-color: var(--backgroundDarkLighter);
    color: var(--textColorLight);
}
.p.dark::placeholder{
    color: var(--textColorLight);
}
.todoElem .button{
    padding: .75rem 1.125rem;
    border-radius: .5rem;
    background-color: rgb(165, 143, 115);
    color: var(--textColorLight);
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
}
.button.dark{
    background-color: var(--backgroundLight);
    color: var(--textColorDark);
}