*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.outputList{
    margin-top: 6rem;
    width: 100%;
    padding: 0rem 1rem;
}
.outputList ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.outputDoneList{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}