*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    padding: 1.75rem 1rem;
    
    background-color: var(--backgroundLightLighter);
}
.header.dark{
    background-color: var(--backgroundDarkLighter);
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .span{
    font-size: 1.75rem;
    font-weight: 200;
    color: var(--textColorDark);
}
.span.dark{
    color: var(--textColorLight);
}
.header .logOut{
    margin-left: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: var(--textColorLight);
    border: none;
    background-color: rgb(165, 143, 115);
    cursor: pointer;
}
.logOut.dark{
    background-color: var(--backgroundLight);
    color: var(--textColorDark);
}