*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginForm{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundLightLighter);
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    
}
.loginForm.dark{
    background-color: var(--backgroundDarkLighter);
    
}
.loginForm input{
    padding: 1.125rem .75rem;
    border-radius: .5rem;
    border: none;
}
.loginForm input.dark{
    background-color: rgb(21, 37, 63);
    color: var(--textColorLight);
    border: none;
}
.loginForm input.dark::placeholder{
    color: rgb(169, 169, 169);
    
}
.loginForm button.button{
    margin-top: 2rem;
    
}
.loginForm button{
    color: var(--textColorLight);
    padding: .75rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    background-color: rgb(165, 143, 115);
    cursor: pointer;
}
.loginForm .button.dark{
    background-color: var(--backgroundLight);
    color: var(--textColorDark);
}
