*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.loginPage{
    display: flex;
    gap: 2rem;
    padding: 10rem 1rem;
    align-items: start;
    height: 100vh;
}
.leftPart, .rightPart{
    flex: 1;
}
.leftPart .headerH1{
    font-size: 4rem;
    font-weight: 500;
    color: var(--textColorDark);
}
.leftPart p{
    margin-top: 1rem;
    font-weight: 100;
    font-size: 1.25rem;
    color: var(--textColorDark);
}
.headerH1.dark{
    color: var(--textColorLight);
}
.headerP.dark{
    color: var(--textColorLight);
}

