:root{
  --backgroundDark: rgb(21, 37, 63);
  --backgroundDarkLighter: rgb(33, 52, 82);
  --backgroundLight: rgb(240, 231, 219);
  --backgroundLightLighter: rgb(228, 213, 193);
  --textColorDark: rgb(21, 37, 63);
  --textColorLight: rgb(240, 231, 219);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}
.home{
  min-height: 100vh;
  padding-bottom: 6rem;
  
}
.light{
  background-color: var(--backgroundLight);
}
.dark{
  background-color: var(--backgroundDark);
}
